<% if @user %>
<div class="columns">
  <div class="column">
    <h1></h1>
  </div>
  <div class="column">
    <p>email:<%= @user.email %></p>
    <p>ID:<%= @user.id %></p>
  </div>
</div>
<div class="columns">
    <% if @user.userinfo %>
      <div class="column">
        <p>名前:<%= @user.userinfo.name %></p>
        <p>ニックネーム:<%= @user.userinfo.profile %></p>
      </div>
      <div class="column">
        <p><%= link_to '編集', edit_userinfo_path(@user.userinfo.id) ,class: 'button is-success is-focused'%></p>
      </div>
    <% else %>
      <div class="column">
        <p><%= link_to 'プロフィール作成', new_userinfo_path ,class: 'button is-success is-focused'%></p>
      </div>
    <% end %>
</div>

<div>
<table class="table">
  <thead>
    <tr>
      <th>やることリスト</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @user.todos.each do |todo| %>
    <tr>
      <td><%= todo.Title %>
        <div><%= todo.created_at.strftime("%Y年%m月%d日 %H時%M分") %></div>
      </td>
      <td><%= link_to '見る', todo ,class: 'button is-info is-focused'%></td>
      <td><%= link_to '編集', edit_todo_path(todo.id) ,class: 'button is-success is-focused'%></td>
      <td><%= link_to '削除', todo, method: :delete, data: { confirm: '削除してよろしいですか' },class: 'button is-danger is-focused' %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>

<%= link_to '新規作成', new_todo_path ,class: 'button is-primary is-focused'%>
<%end%>