<%= form_with(model: todo,local:true) do |form|%>
  <% puts "_form"%>

  <% if todo.errors.any? %>
    <% puts "[ERR]"%>
    <div id="error_explanation">
      <h2><%= pluralize(todo.errors.count, "") %> 件のエラーが発生しました</h2>

      <ul>
      <% todo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :タイトル %>
    <%= form.text_field :Title %>
  </div>

  <div class="field">
    <%= form.label :詳細 %>
    <%= form.text_field :Detail %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>